<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <h1>Add New Employee</h1>

    <form action="/admin" method="POST">
      First Name: <input type="text" name="firstName" /><br />
      Last Name: <input type="text" name="lastName" /><br />
      Date of Employment: <input type="date" name="dateEmployed" /><br />
      Date of Birth: <input type="date" name="dateOfBirth" /><br />
      Gender: <input type="text" name="gender" /><br />
      Nationality: <input type="text" name="nationality" /><br />
      Leave Balance: <input type="number" name="leaveBalance" /><br />
      Username: <input type="text" name="username" /><br />
      Password: <input type="text" name="password" /><br />
      <!-- isActive: <input type="boolean" name="isActive" /><br />
      isAdmin: <input type="boolean" name="isAdmin" /><br /> -->
      <input type="hidden" name="isAdmin" value="false" />
      <input type="submit" value="Add New Employee" />
    </form>

    <a href="/admin">Return to Admin Dashboard</a>
  </body>
</html>
